---
import { GAMENEWS_API, GAMENEWS_TOKEN } from '../config/config';
import type { GameNew as IGameNew } from '../models/interfaces/gamenews';
import GameNew from './GameNew.astro';

interface Props {
  from: string | null;
}

const { from }: Props = Astro.props;

const res = await fetch(`${GAMENEWS_API}/news/sorted`, {
  headers: {
    'Content-Type': 'application/json',
    Authorization: `Bearer ${GAMENEWS_TOKEN}`,
  },
});

const gamenews: IGameNew[] = await res.json();
---

<section class="gamenews">
  {gamenews.map((gamenew) => <GameNew gamenew={gamenew} />)}
</section>

<style lang="scss">
  .gamenews {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: var(--layout-02);

    width: 100%;
    max-width: 968px;
    margin: 0 auto;
  }

  @media (min-width: 540px) {
    .gamenews {
      grid-auto-rows: 1fr;
    }
  }
</style>
