---
import '@tabler/icons-webfont/dist/tabler-icons.min.css';

interface Props {
  title: string;
}

const { title }: Props = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <slot />
  </body>
</html>

<style lang="scss" is:global>
  :root {
    --color: #213547;
    --first-bg-color: #f3f4f7;
    --second-bg-color: #fff;
    --third-bg-color: #e6e6e6b4;

    --accent-gradient: linear-gradient(45deg, #4dd3cc, #eb7085 70%);
    --second-accent-gradient: linear-gradient(45deg, #4dd3cc, #eb7085 18%);

    --layout-01: 1rem;
    --layout-02: 1.5rem;
    --layout-03: 2rem;
    --layout-04: 3rem;
    --layout-05: 4rem;
    --layout-06: 6rem;
    --layout-07: 10rem;

    --spacing-01: 0.125rem;
    --spacing-02: 0.25rem;
    --spacing-03: 0.5rem;
    --spacing-04: 0.75rem;
    --spacing-05: 1rem;
    --spacing-06: 1.5rem;
    --spacing-07: 2rem;
    --spacing-08: 2.5rem;
    --spacing-09: 3rem;

    --lateral-spacing: var(--layout-01);

    @media (min-width: 414px) {
      --lateral-spacing: var(--layout-02);
    }

    @media (min-width: 768px) {
      --lateral-spacing: var(--layout-03);
    }

    @media (min-width: 1024px) {
      --lateral-spacing: var(--layout-04);
    }

    @media (min-width: 1280px) {
      --lateral-spacing: var(--layout-05);
    }

    --scale: 1.14;

    @media (min-width: 768px) {
      --scale: 1.33;
    }

    --min-weight: 400;
    --min-size: 12px;

    --small-weight: 400;
    --small-size: 14px;

    --base-weight: 400;
    --base-size: 16px;

    --h4-weight: 800;
    --h4-size: calc(var(--scale) * var(--base-size));

    --h3-weight: 800;
    --h3-size: calc(var(--scale) * var(--h4-size));

    --h2-weight: 800;
    --h2-size: calc(var(--scale) * var(--h3-size));

    --h1-weight: 800;
    --h1-size: calc(var(--scale) * var(--h2-size));

    font-family:
      'Poppins',
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      Segoe UI,
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      Open Sans,
      Helvetica Neue,
      sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: normal;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background-color: var(--first-bg-color);
  }

  a {
    text-decoration: none;
    color: var(--color);

    cursor: pointer;
  }

  button {
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  ul {
    list-style: none;
  }

  p,
  ul,
  dl,
  li {
    font-size: var(--base-size);
    font-weight: var(--base-weight);
  }

  h1 {
    font-size: var(--h1-size);
    font-weight: var(--h1-weight);
  }

  h2 {
    font-size: var(--h2-size);
    font-weight: var(--h2-weight);
  }

  h3 {
    font-size: var(--h3-size);
    font-weight: var(--h3-weight);
  }

  h4 {
    font-size: var(--h4-size);
    font-weight: var(--h4-weight);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color: #f8f9fa;
      --first-bg-color: #242424;
      --second-bg-color: #141414;
      --third-bg-color: #333333be;

      --accent-gradient: linear-gradient(45deg, #84b4b2, #f48c9d 70%);
      --second-accent-gradient: linear-gradient(45deg, #84b4b2, #f48c9d 20%);
    }
  }

  // Dejar al final para que se apliquen los estilos de acuerdo al tema
  :root {
    &.light-theme {
      --color: #213547;
      --first-bg-color: #f8f9fa;
      --second-bg-color: #fff;
      --third-bg-color: #e6e6e6b4;

      --accent-gradient: linear-gradient(45deg, #4dd3cc, #eb7085 70%);
      --second-accent-gradient: linear-gradient(45deg, #4dd3cc, #eb7085 18%);

      color-scheme: only light;
    }

    &.dark-theme {
      --color: #f8f9fa;
      --first-bg-color: #242424;
      --second-bg-color: #141414;
      --third-bg-color: #333333be;

      --accent-gradient: linear-gradient(45deg, #84b4b2, #f48c9d 70%);
      --second-accent-gradient: linear-gradient(45deg, #84b4b2, #f48c9d 20%);

      color-scheme: only dark;
    }
  }
</style>
