---
import '@tabler/icons-webfont/dist/tabler-icons.min.css';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <slot />
  </body>
</html>

<style lang="scss" is:global>
  :root {
    --color: #213547;
    --first-bg-color: #f3f4f7;
    --second-bg-color: #fff;
    --third-bg-color: #e6e6e6b4;

    --accent-gradient: linear-gradient(45deg, #4dd3cc, #eb7085 70%);
    --second-accent-gradient: linear-gradient(45deg, #4dd3cc, #eb7085 18%);

    --lateral-spacing: 1.25rem;

    font-family:
      'Poppins',
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      Segoe UI,
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      Open Sans,
      Helvetica Neue,
      sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

  @media (min-width: 520px) {
    :root {
      --lateral-spacing: 5rem;
    }
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background-color: var(--first-bg-color);
  }

  a {
    text-decoration: none;
    color: var(--color);
    cursor: pointer;
  }

  button {
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  ul {
    list-style: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: normal;
  }

  .post-content {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color: #f8f9fa;
      --first-bg-color: #242424;
      --second-bg-color: #141414;
      --third-bg-color: #333333be;

      --accent-gradient: linear-gradient(45deg, #84b4b2, #f48c9d 70%);
      --second-accent-gradient: linear-gradient(45deg, #84b4b2, #f48c9d 20%);
    }
  }

  // Dejar al final para que se apliquen los estilos de acuerdo al tema
  :root {
    &.light-theme {
      --color: #213547;
      --first-bg-color: #f8f9fa;
      --second-bg-color: #fff;
      --third-bg-color: #e6e6e6b4;

      --accent-gradient: linear-gradient(45deg, #4dd3cc, #eb7085 70%);
      --second-accent-gradient: linear-gradient(45deg, #4dd3cc, #eb7085 18%);

      color-scheme: only light;
    }

    &.dark-theme {
      --color: #f8f9fa;
      --first-bg-color: #242424;
      --second-bg-color: #141414;
      --third-bg-color: #333333be;

      --accent-gradient: linear-gradient(45deg, #84b4b2, #f48c9d 70%);
      --second-accent-gradient: linear-gradient(45deg, #84b4b2, #f48c9d 20%);

      color-scheme: only dark;
    }
  }
</style>
