---
import Header from '../components/ui/Header.astro';
import Footer from '../components/ui/Footer.astro';
import '@tabler/icons-webfont/dist/tabler-icons.min.css';

interface Props {
  appName: string;
  title: string;
}

const { appName, title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Header appName={appName} />

    <main>
      <slot />
    </main>

    <Footer appName={appName} />
  </body>
</html>

<style is:global>
  :root {
    --color: #213547;
    --first-bg-color: #f3f4f7;
    --second-bg-color: #fff;
    --third-bg-color: #e6e6e6b4;

    --lateral-spacing: 1.25em;

    font-family:
      'Poppins',
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      Segoe UI,
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      Open Sans,
      Helvetica Neue,
      sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background-color: var(--first-bg-color);
  }

  a {
    text-decoration: none;
    color: var(--color);
    cursor: pointer;
  }

  button {
    cursor: pointer;
  }

  button:focus {
    outline: none;
  }

  ul {
    list-style: none;
  }

  .post-content {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
  }

  .light-dark-btn .fa-sun {
    display: block;
  }

  .light-dark-btn .fa-moon {
    display: none;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color: #f8f9fa;
      --first-bg-color: #242424;
      --second-bg-color: #141414;
      --third-bg-color: #333333be;
    }

    .light-dark-btn .fa-sun {
      display: none;
    }

    .light-dark-btn .fa-moon {
      display: block;
    }
  }

  :is(.light-theme) {
    --color: #213547;
    --first-bg-color: #f8f9fa;
    --second-bg-color: #fff;
    --third-bg-color: #e6e6e6b4;

    color-scheme: only light;

    .light-dark-btn .fa-sun {
      display: block;
    }

    .light-dark-btn .fa-moon {
      display: none;
    }
  }

  :is(.dark-theme) {
    --color: #f8f9fa;
    --first-bg-color: #242424;
    --second-bg-color: #141414;
    --third-bg-color: #333333be;

    color-scheme: only dark;

    .light-dark-btn .fa-sun {
      display: none;
    }

    .light-dark-btn .fa-moon {
      display: block;
    }
  }
</style>
