---
import Header from '../components/ui/Header.astro';
import Footer from '../components/ui/Footer.astro';
import Layout from './Layout.astro';

interface Props {
  appName: string;
  title: string;
}

const { appName, title }: Props = Astro.props;
---

<Layout title={title}>
  <Header appName={appName} />

  <main>
    <slot />
  </main>

  <Footer appName={appName} />
</Layout>

<style lang="scss" is:global>
  .post-content {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;

    header,
    section {
      margin: 0 1rem;
    }

    p {
      margin: 0.75rem 0;

      font-size: 1.15rem;
      text-align: left;
      text-wrap: pretty;
    }

    h1 {
      margin: 0.5rem 0;
      margin-top: 3rem;

      font-size: 2.5rem;
      line-height: normal;
    }

    h2 {
      margin-bottom: 1.25rem;
      padding-top: 5rem;

      font-size: 1.75rem;
      line-height: normal;
    }

    h3 {
      margin-bottom: 1rem;
      padding-top: 3rem;

      font-size: 1.35rem;
      line-height: normal;
    }

    .table-of-contents {
      margin-top: 3rem;
      margin-bottom: 0.5rem;
    }
  }
</style>
