---
import Header from '../components/ui/Header.astro';
import Footer from '../components/ui/Footer.astro';
import Layout from './Layout.astro';

interface Props {
  appName: string;
  title: string;
}

const { appName, title }: Props = Astro.props;
---

<Layout title={title}>
  <Header appName={appName} />

  <main>
    <slot />
  </main>

  <Footer appName={appName} />
</Layout>

<style lang="scss" is:global>
  .post-content {
    max-width: 764px;
    width: 100%;
    margin: 0 auto;
    padding: 0 var(--lateral-spacing);

    & > header,
    & > section {
      max-width: 1280px;
      margin: var(--layout-04) auto;
    }

    p {
      margin: var(--spacing-04) 0;

      text-align: left;
      text-wrap: pretty;
    }

    h1 {
      margin: var(--spacing-03) 0;
      margin-top: var(--layout-04);
    }

    h2 {
      margin-bottom: var(--spacing-06);
      padding-top: var(--layout-06);
    }

    h3 {
      margin-bottom: var(--spacing-07);
      padding-top: var(--layout-05);
    }

    h4 {
      margin-bottom: var(--spacing-08);
      padding-top: var(--layout-04);
    }

    .table-of-contents {
      margin-top: var(--layout-05);
    }
  }

  @media (min-width: 748px) {
    .post-content {
      header,
      section {
        margin: 0;
      }
    }
  }
</style>
