---
import { PERSONAL_WEBPAGE } from '../../constants/constants';

interface Props {
  appName: string;
}

const { appName } = Astro.props;

const date = new Date().getFullYear();
---

<footer class="footer">
  <section class="footer-content">
    <span class="footer-company">{appName}</span>

    <span class="footer-copyright">© {date}</span>

    <span class="footer-made-by">
      Desarrollado con ❤️ por
      <a href={PERSONAL_WEBPAGE} target="_blank" rel="noopener noreferrer">
        Víctor Albán
      </a>
    </span>
  </section>
</footer>

<style lang="scss" is:global>
  .footer {
    background-color: var(--second-bg-color);
  }

  .footer-content {
    display: grid;
    grid-template-areas: 'company' 'copyright' 'made-by';
    grid-template-columns: 1fr;
    place-content: center;
    gap: var(--spacing-03);

    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: var(--layout-02) var(--lateral-spacing);

    text-align: center;
  }

  .footer-company {
    grid-area: company;

    font-size: 2rem;
    font-weight: bold;

    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .footer-copyright {
    grid-area: copyright;

    font-size: 0.9rem;
  }

  .footer-made-by {
    grid-area: made-by;

    text-align: center;

    & > a {
      display: inline-block;

      background-image: linear-gradient(45deg, #eb7085, #4dd3cc 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      font-weight: 600;

      transition: transform 0.3s;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  @media (prefers-color-scheme: dark) {
    .footer-made-by > a {
      background-image: linear-gradient(45deg, #f48c9d, #84b4b2 100%);
    }
  }

  :root {
    &.light-theme .footer-made-by > a {
      background-image: linear-gradient(45deg, #eb7085, #4dd3cc 100%);
    }

    &.dark-theme .footer-made-by > a {
      background-image: linear-gradient(45deg, #f48c9d, #84b4b2 100%);
    }
  }

  @media (min-width: 768px) {
    .footer-content {
      place-items: center;

      grid-template-areas: 'copyright company made-by';
      grid-template-columns: repeat(3, 1fr);
    }

    .footer-copyright {
      margin-right: auto;
    }

    .footer-made-by {
      margin-left: auto;
    }
  }
</style>
