---
import ThemeToggle from '../ThemeToggle.astro';
import Navbar from './Navbar.astro';

interface Props {
  appName: string;
}

const { appName } = Astro.props;
---

<header class="header">
  <section class="header-container">
    <section class="header-company">
      <a href="/">
        <span>{appName}</span>
      </a>
    </section>

    <Navbar />

    <section class="header-actions">
      <ThemeToggle />
    </section>
  </section>
</header>

<script src="../../scripts/theme-toggle.ts"></script>

<style lang="scss" is:global>
  .header {
    position: sticky;
    top: -4rem;
    z-index: 200;

    background-color: var(--second-bg-color);
  }

  .header-container {
    display: grid;
    grid-template-areas:
      'company company company'
      '. navbar actions';
    grid-template-columns: repeat(3, 1fr);
    gap: var(--layout-01);

    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: var(--layout-01) var(--lateral-spacing);
  }

  .header-company {
    grid-area: company;
    display: grid;
    place-content: center;

    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: var(--layout-03);
    font-weight: bold;
  }

  .header-actions {
    grid-area: actions;

    position: relative;

    display: grid;
    place-content: center;
    margin-left: auto;
  }

  .navbar {
    grid-area: navbar;

    margin: 0 auto;
  }

  @media (min-width: 604px) {
    .header {
      top: 0;
    }

    .header-container {
      display: flex;
      align-items: center;
    }

    .navbar {
      margin: 0;
      margin-left: auto;
    }

    .header-actions {
      margin-left: var(--layout-03);
    }
  }
</style>
