---
import Navbar from './Navbar.astro';

interface Props {
  appName: string;
}

const { appName } = Astro.props;
---

<header class="header">
  <section class="header-container">
    <section class="header-company">
      <span>{appName}</span>
    </section>

    <Navbar />

    <section class="header-actions">
      <input class="light-dark-checkbox" type="checkbox" checked />

      <button class="light-dark-btn" type="button" role="button">
        <i class="ti ti-sun"></i>
        <i class="ti ti-moon"></i>
      </button>
    </section>
  </section>
</header>

<script>
  import addThemeToggle from '../../scripts/theme-toggle';

  addThemeToggle();
</script>

<style lang="scss" is:global>
  .header {
    position: sticky;
    top: -4rem;
    z-index: 200;

    background-color: var(--second-bg-color);
  }

  .header-container {
    display: grid;
    grid-template-areas:
      'company company company'
      'navbar navbar actions';
    gap: 1rem;

    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 1rem 5rem;
  }

  .header-company {
    grid-area: company;
    display: grid;
    place-content: center;

    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 2rem;
    font-weight: bold;
  }

  .header-actions {
    grid-area: actions;

    position: relative;

    display: grid;
    place-content: center;
    margin-left: auto;
  }

  .navbar {
    grid-area: navbar;
  }

  .light-dark-checkbox {
    position: absolute;
    z-index: -10;

    display: none;
  }

  .light-dark-btn {
    display: grid;
    place-content: center;

    border: none;
    background-color: transparent;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.5rem;

    transition: opacity 150ms;

    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }

    .ti-sun {
      display: block;
    }

    .ti-moon {
      display: none;
    }
  }

  @media (prefers-color-scheme: dark) {
    .light-dark-btn {
      .ti-sun {
        display: none;
      }

      .ti-moon {
        display: block;
      }
    }
  }

  :root.light-dark-btn .light-dark-btn {
    .ti-sun {
      display: block;
    }

    .ti-moon {
      display: none;
    }
  }

  :root.dark-theme .light-dark-btn {
    .ti-sun {
      display: none;
    }

    .ti-moon {
      display: block;
    }
  }

  @media (min-width: 440px) {
    .header {
      top: 0;
    }

    .header-container {
      display: flex;
      align-items: center;

      // padding-top: 1rem;
    }

    .header-actions {
      position: static;

      margin-left: 1.25rem;
      margin-right: 1rem;
    }
  }
</style>
